
.Navbar-contianer{
    display: flex;
     
    
    justify-content: space-between;   
    
}

span{
    color: red;
}

 .ipt{
    border: 1px solid ;
    border-color: red;
    height: 30px;
    width: 180px;
    padding-left: 10px;
    color: white;
    border-radius: 8px;
    background-color: black;
    margin-right: 20px;
    margin-top: 20px;
 }
 
 .button-div{
    
    display: flex; 
    gap: 30px;
    align-items: end;
    margin-bottom: 40px;
    margin-top: 130px

    
 }
 .btn1{
    height: 30px;
    width: 40px;
    border-radius: 7px;
    background-color: red;
    color: white;

 }
 .btn2{
    height: 30px;
    width: 85px;
    border-radius: 7px;
    background-color: red;
    color: white;

 }
 .btn3{
    height: 30px;
    width: 70px;
    border-radius: 7px;
    background-color: red;
    color: white;

 }

 .btn4{
    height: 30px;
    width: 70px;
    border-radius: 7px;
    background-color: red;
    color: white;

 }